* {margin: 0px;}

header {padding: 75px; margin-bottom: 26px;}
.main-nav {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.nav-menu {padding: 0px;}
.nav-menu-item {
    display: inline-block; 
    box-sizing: border-box; 
    padding: 0 80px;}
.nav-menu-item a {text-decoration: none; color: #626262;}
.li-1:hover {color: #03a9f4;}

.article-blocks {padding: 0 150px; font-size: 0px;}
.article-blocks article:nth-child(2n) {margin-right: 0px;}
.article-blocks article:nth-last-child(-n+2) {margin-bottom: 0px;}

article {
    display: inline-block;
    box-sizing: border-box;
    width: 420px;
    padding: 0px;    
    margin-right: 358px; 
    margin-bottom: 130px;
}

.subtitle {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e; text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
    padding: 25px 0;}
    
    h2 {
        color: #626262;
        font-family: 'Playfair Display', serif;
        font-weight: normal; font-size: 30px; padding-bottom: 30px;
    }
    .text {font-family: 'Playfair Display', serif; font-size: 14px; line-height: 24px; }

button {
    display: block;
    width: 164px;
    height: 60px;
    margin: 62px auto;
    font-family: 'Playfair Display', serif; 
    font-size: 20px;
    color: #626262;
}