* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.main-header {
  padding: 36px 0px;
  margin-bottom: 66px;
}

.site-logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 32px;
  color: #555252;
  float: left;
  margin: 0px;
}
.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.nav-menu-list {
  margin: 8px 0px 0px;
  padding: 0px;
  float: right;
}
.nav-menu-item {
  float: left;
}
.nav-menu-item:not(:last-of-type) {
  margin-right: 36px;
}
.nav-menu-item a {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #0f0101;
}
.nav-menu-item a:hover {
  color: #1abc9c;
}
.nav-menu-item a:focus {
  color: #1abc9c;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.products {
  margin-bottom: 102px;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
  margin-bottom: 90px;
}
.section-title::after {
  content: "";
  display: table;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 24px auto 0px;
}

.products-list-item {
  box-sizing: border-box;
  width: 255px;
  height: 320px;
  margin: 0px 30px 30px 0px;
  float: left;
}
.products-list-item:nth-child(4n) {
  margin-right: 0px;
}
.products-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}
.products-list-item:hover .products-title-price {
  background-color: #1abc9c;
}
.products-image img {
  height: 280px;
  width: 255px;
  background-color: #e9f0fd;
}
.products-title-price {
  height: 40px;
  width: 255px;
  background-color: black;
  box-sizing: border-box;
}

.products-title {
  float: left;
  height: 40px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 12px;
}
.products-title a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  line-height: 32px;
}

.price {
  background-color: rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  padding-top: 5px;
  width: 55px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: white;
  line-height: 32px;
  float: right;
}

.news {
  margin-bottom: 80px;
}
.latest-news {
  width: 350px;
  box-sizing: border-box;
  margin-right: 30px;
  float: left;
}
.latest-news:last-of-type {
  margin: 0px;
}
.img-news {
  width: 350px;
  height: 262px;
  margin-bottom: 12px;
}
.news-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  margin-bottom: 26px;
}
.news-title::after {
  content: "";
  display: table;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  margin-top: 12px;
}
.news-text {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  margin-bottom: 18px;
}
.button {
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 52px;
  background-color: #1abc9c;
  text-align: center;
  padding-top: 14px;
  border-radius: 2px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
